@use "reset";

$linear-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
$linear-gradient-1: hsla(236, 72%, 79%, 0.5), hsla(237, 63%, 64%, 0.5);
$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);
$white: hsl(0, 0%, 100%);

main {
  margin: auto;
  text-align: center;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.btn {
  all: unset;
  box-sizing: border-box;
  padding: 0;
  margin: auto;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  border: 3px solid transparent;
  border-radius: 0.4rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.card,
.card-middle {
  border-radius: 0.75rem;
  padding: 2rem;
  width: 100%;
}

.card {
  background-color: $white;
  box-shadow: hsla(237, 63%, 64%, 0.15) 0 20px 25px -5px,
    hsla(237, 63%, 64%, 0.1) 0 10px 10px -5px;

  .btn {
    background-image: linear-gradient(90deg, $linear-gradient);
    color: $very-light-grayish-blue;
    letter-spacing: 2px;

    &:hover {
      background-image: linear-gradient(0deg, transparent, transparent);
      color: hsl(237, 63%, 64%);
      border-color: $light-grayish-blue;
    }
  }
}

.card-middle {
  background-image: linear-gradient(180deg, $linear-gradient);
  color: $very-light-grayish-blue;
  height: 100%;
  display: flex;
  box-shadow: hsla(237, 63%, 64%, 0.15) 0 20px 25px -5px,
    hsla(237, 63%, 64%, 0.1) 0 10px 10px -5px;

  button {
    color: hsl(237, 63%, 64%);
    letter-spacing: 2px;
    background-color: $white;

    &:hover {
      background-color: transparent;
      color: $very-light-grayish-blue;
      border-color: $light-grayish-blue;
    }
  }

  .card-middle-inner {
    margin: auto;
    flex-grow: 1;
  }
}

.container-grid {
  display: grid;
  grid-auto-columns: 2fr;
  grid-template-areas: "c-1 c-2 c-3";
  width: 70.5rem;
  height: 33rem;
}

.container-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  background: url("../images/bg-top.svg") no-repeat right top,
    url("../images/bg-bottom.svg") no-repeat left bottom,
    $very-light-grayish-blue;
}

.container-price {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  margin-bottom: 0.75rem;

  p {
    font-size: 2.75rem;
  }

  .price-montly {
    font-size: 4.5rem;
  }
}

.c-1,
.c-2,
.c-3 {
  display: flex;
  align-items: center;
}

.c-1 {
  grid-area: c-1;
}

.c-2 {
  grid-area: c-2;
}

.c-3 {
  grid-area: c-3;
}

.heading {
  color: $grayish-blue;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.25rem;

  p:nth-child(3) {
    border-bottom: 1px solid hsla(234, 14%, 74%, 0.4);
  }

  p {
    padding: 1rem;
    border-top: 1px solid hsla(234, 14%, 74%, 0.4);
  }
}

.plan {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-image: linear-gradient(90deg, $linear-gradient);
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, $linear-gradient);
  border-radius: 34px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  &::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  &:hover {
    background-image: linear-gradient(90deg, $linear-gradient-1);
  }
}

.text-dark-grayish-blue {
  color: $dark-grayish-blue;
}

.text-grayish-blue {
  color: $grayish-blue;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: $light-grayish-blue;
  margin-bottom: 4.5rem;
}

@media (max-width: 991px) {
  main {
    width: 100%;
  }

  .attribution {
    margin-top: 3rem;
  }

  .container-grid {
    width: auto;
    height: auto;
    row-gap: 2rem;
    grid-template-areas:
      "c-1"
      "c-2"
      "c-3";
  }

  .container-main {
    padding: 5rem 1.5rem 1.5rem;
    height: auto;
    background: url("../images/bg-top.svg") no-repeat, $very-light-grayish-blue;
    background-position: 13rem -2rem;
  }

  .toggle {
    margin-bottom: 6rem;
  }
}
