@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: auto;
  font-size: 15px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  margin: auto;
  text-align: center;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

.btn {
  all: unset;
  box-sizing: border-box;
  padding: 0;
  margin: auto;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  border: 3px solid transparent;
  border-radius: 0.4rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.card,
.card-middle {
  border-radius: 0.75rem;
  padding: 2rem;
  width: 100%;
}

.card {
  background-color: white;
  box-shadow: rgba(105, 111, 221, 0.15) 0 20px 25px -5px, rgba(105, 111, 221, 0.1) 0 10px 10px -5px;
}
.card .btn {
  background-image: linear-gradient(90deg, #a3a8f0, #696fdd);
  color: #f6f6fe;
  letter-spacing: 2px;
}
.card .btn:hover {
  background-image: linear-gradient(0deg, transparent, transparent);
  color: #696fdd;
  border-color: #b3b5c6;
}

.card-middle {
  background-image: linear-gradient(180deg, #a3a8f0, #696fdd);
  color: #f6f6fe;
  height: 100%;
  display: flex;
  box-shadow: rgba(105, 111, 221, 0.15) 0 20px 25px -5px, rgba(105, 111, 221, 0.1) 0 10px 10px -5px;
}
.card-middle button {
  color: #696fdd;
  letter-spacing: 2px;
  background-color: white;
}
.card-middle button:hover {
  background-color: transparent;
  color: #f6f6fe;
  border-color: #b3b5c6;
}
.card-middle .card-middle-inner {
  margin: auto;
  flex-grow: 1;
}

.container-grid {
  display: grid;
  grid-auto-columns: 2fr;
  grid-template-areas: "c-1 c-2 c-3";
  width: 70.5rem;
  height: 33rem;
}

.container-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  background: url("../images/bg-top.svg") no-repeat right top, url("../images/bg-bottom.svg") no-repeat left bottom, #f6f6fe;
}

.container-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  margin-bottom: 0.75rem;
}
.container-price p {
  font-size: 2.75rem;
}
.container-price .price-annually {
  display: none;
}
.container-price .price-montly {
  font-size: 4.5rem;
}

.c-1,
.c-2,
.c-3 {
  display: flex;
  align-items: center;
}

.c-1 {
  grid-area: c-1;
}

.c-2 {
  grid-area: c-2;
}

.c-3 {
  grid-area: c-3;
}

.heading {
  color: #6d708d;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.25rem;
}
.list p:nth-child(3) {
  border-bottom: 1px solid rgba(179, 181, 198, 0.4);
}
.list p {
  padding: 1rem;
  border-top: 1px solid rgba(179, 181, 198, 0.4);
}

.plan {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

input:checked + .slider {
  background-image: linear-gradient(90deg, #a3a8f0, #696fdd);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text-dark-grayish-blue {
  color: #494c5f;
}

.text-grayish-blue {
  color: #6d708d;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #b3b5c6;
  margin-bottom: 4.5rem;
}

@media (max-width: 991px) {
  main {
    width: 100%;
  }

  .attribution {
    margin-top: 3rem;
  }

  .container-grid {
    width: auto;
    height: auto;
    row-gap: 2rem;
    grid-template-areas: "c-1" "c-2" "c-3";
  }

  .container-main {
    padding: 3rem 1.25rem 1.5rem;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
